.navigare{
    width:fit-content;
    height: max-content;
    background-color: burlywood;
}
body{
    height:100vh;
    background-image: linear-gradient(to bottom,cyan,lime);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
    position:fixed;
    height: max-content;
    background-color: rgb(4, 255, 171);
    color:blue;
    font-size: x-large;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(4, 255, 171);
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
a{
    text-decoration: none;
}
li:first-child{
    background: aqua;
}
ol:nth-child(2n+1){
    background: aqua;
}
.lista{
    margin:80px;
    font-size: xx-large;
    color:cornflowerblue;
    background-color: aquamarine;
    height: min-content;
    border: 3px;
    border-color: black;
    border-style: groove;
}
table{
    margin:80px;
    font-size: xx-large;
    color:cornflowerblue;
    background-color: aquamarine;
    border: 3px;
    border-color: black;
    border-style: groove;
}
td{
    border: 3px;
    border-color: black;
    border-style: groove;
}
.flexbox{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:450px){
    .flexbox{
        flex-direction: column;
    }
    .dropdown{
        font-size: small;
    }
    .lista{
        margin-top:50px;
        font-size: small;
    }
    table{
        margin-top:0px;
        font-size: x-large;
    }
}

@media only screen and (max-width:900px) and (min-width:451px){
    .lista{
        margin-left: 30px;
        margin-bottom: 20px;
        }
    table{
        margin-left:30px;
        margin-top: 20px;
    }
    .flexbox{
        flex-direction: column;
    }
    body{
        height:105vh;
    }
    .dropdown{
        font-size:larger;
    }
}