body{
    height:150vh;
    background-image: linear-gradient(to bottom,cyan,lime);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
form{
    margin-top:25px;
}
@keyframes exemplu {
    from{background-color: rgb(60, 245, 183);}
    to{background-color: rgb(0, 255, 98);}
}
@keyframes exempluv2{
    from{border-color: rgb(67, 214, 75);}
    to{border-color:rgb(12, 160, 128)}
}
.Prezentare{
    background-color:aquamarine;
    animation-name: exemplu;
    animation-duration:3s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    width:50%;
}
.Descriere{
    text-align: center;
}
.Feedback{
    width:98%;
    height:10em;
    text-align: center;
}
.Contact{
    text-align: center;
}
#descriere{
    font-size:x-large;
}
#Neimportant{
    display: inline-block;
    font-size: xx-large;
}
#PozaProfil{
    justify-content: space-around;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:40%;
    border-radius: 50px;
    border-color:red;
    border-width: 5px;
    border-style:solid;
    animation-name: exempluv2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.Education{
    text-decoration: none;
    justify-content: center;
    font-size: xx-large;
    display:block;
    text-align: center;
}
.Abilities{
    text-decoration: none;
    justify-content: center;
    font-size: xx-large;
    display:block;
    text-align: center;
}
.Hobbies{
    text-decoration: none;
    justify-content: center;
    font-size: xx-large;
    display:block;
    text-align: center;
}
a::after{
    content: "←";
}
a::before{
    content: "→";
}
@media only screen and (max-width:450px) {
    .Prezentare{
        width:65%;
    }
    #Neimportant{
        font-size: x-large;
    }
    .Education{
        font-size:large;
    }
    .Abilities{
        font-size: large;
    }
    .Hobbies{
        font-size: large;
    }
    #descriere{
        font-size: large;
    }
    span{
        font-size: smaller;
    }
    form{
        font-size:small;
    }
}
@media only screen and (max-width:900px) and (min-width:451px){
    .Prezentare{
        width:65%;
    }
    #descriere{
        font-size: x-large;
    }
    .Contact{
        font-size: large;
    }
    form{
        font-size:larger;
    }
}