.navigare{
    width:fit-content;
    height: max-content;
    background-color: burlywood;
}
body{
    height:130vh;

    background-image: linear-gradient(to bottom,cyan,lime);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown {
    position:fixed;
    height: max-content;
    background-color: rgb(4, 255, 171);
    color:blue;
    font-size: x-large;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(4, 255, 171);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
a{
    text-decoration: none;
}
.Hobbyuri{
    margin-top:75px;
    text-align:center;
}
.Header{
    margin:10px;
    padding:15px;
    background-color: cadetblue;
    color:aqua;
    font-size: x-large;
    text-align: center;
    transition: padding 2s;
}
.Header:hover{
    padding:30px;
}
.text{
    margin:10px;
    padding:15px;
    background-color: cadetblue;
    color:aqua;
    font-size: x-large;
    text-align: center;
    transition: margin 2s;
}
.text:hover{
    margin:25px;
}
.flexbox{
    display:flex;
    flex-direction: column;
}
.flexbox_imagini{
    display:flex;
    justify-content: center;
    margin-right:auto;
    margin-left:auto;
}
.imagine_dim{
    width:400px;
    height:400px;
}
.Imagini{
    display: flex;
    flex-direction: row;
}
@keyframes cubu_plimbaret{
    0%{left:0px;top:0px;}
    25%{left:200px;top:0px;}
    50%{left:200px;top:200px;}
    75%{left:0px;top:200px;}
    100%{left:0px;top:0px;}
}
.Animatie{
    width:50px;
    height:50px;
    position:relative;
    background-color: yellowgreen;
    animation-name: cubu_plimbaret;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


@media only screen and (max-width:450px){
    .Header{
        font-size:large;
    }
    .text{
        font-size:small;
    }
    .imagine_dim{
        width:230px;
        height:200px;
    }
    .Imagini{
        flex-direction: column;
    }
    .Imagini{
        margin-top:30px;
    }
    .dropdown{
        font-size:small;
    }
    .Hobbyuri{
        margin-top: 45px;
    }
    .Animatie{
        display: none;
    }
}

@media only screen and (max-width:900px) and (min-width:451px){
    .Header{
        font-size:x-large;
    }
    .text{
        font-size: larger;
    }
    .imagine_dim{
        width:350px;
        height:300px;
    }
    .Imagini{
        flex-direction: column;
    }
    .dropdown{
        font-size: large;
    }
    .Animatie{
        display: none;
    }
}